*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar style */
.navbar{
    width: 100%;
    height: 2.1rem;
    background-color:#424245;
    /*display:grid;
    grid-template-columns: repeat(12,auto);*/
    
    /* padding: auto 30%; */

}


.navbar span{
    margin: 0% auto;
    height: 100%;
    width: 70%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.5rem;

}


.navbar a{
    text-decoration: none;
    color: white;
}

/* utils */
.center{
    margin-left: auto;
    margin-right: auto;
}

.gap{
    margin-top: 1%;
    margin-bottom: 1%;
}


/* phrase */
.phrase{
    height: 2.3rem;
    width: 100%;
    display:flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    background-color: #E34140;
    font-size: 0.8rem;
    color: white;
}



.phrase a,.holiday a{
    text-decoration: none;
    color:inherit;
}


.holiday{
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(208, 234, 245);

}



#logo{
    height: 3rem;
    width: 3rem;
}


.holiday h1{
    color:black ;


}

.holiday div{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,33%);
    /* grid-template-rows: 3rem; */
    
}

.holiday div img{
    height: 13rem;
    width: 13rem;
}
/* .holiday a{
    text-decoration: none;
    color: inherit;
} */


.iphone{
    background: url(../images/hero_iphone_13pro.jpg);
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 100%;
}

.iphone div,.airpods div{
    width: 40%;
    text-align: center;
}

.iphone ul , .airpods ul ,.grid_container li div{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.iphone li, .airpods li{
    margin: auto 3%;
}

.iphone a,.airpods a{
    text-decoration: none;
}


.airpods{
    height: 25rem;
    width: 100%;
    background:linear-gradient(rgba(228, 240, 60, 0.425),rgba(67, 238, 67, 0.315)),url(../images/airpods.jpg) ;
    
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.airpods div{
    margin: 3% auto;
}



.grid_container{
    display: grid;
    grid-template-columns: repeat(2,49%);
    column-gap: 1%;
    grid-template-rows: repeat(3,25rem);
    row-gap: 1%;
}

#grid1{
    background: url(../images/hero_iphone_12.jpg);
}
#grid2{
    background: url(../images/tile_watch.jpg);
    text-align: center;
}
#grid3{
    background: url(../images/tile_homepod.jpg);
}
#grid4{
    background: url(../images/tile_app_store__h284mintlmmy_large_2x.jpg);

}
#grid5{
    background: url(../images/tile_music_awards.jpg);
}
#grid6{
    background: url(../images/tile_charlie_brown_christmas.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#grid1,#grid2,#grid3,#grid4,#grid5,#grid6{
    background-size: cover;
    background-position: center;
}



.grid_container ul{
    width: 60%;
    list-style: none;
}

.grid_container a{
    text-decoration: none;
}

#grid1 h1,#grid4{
    color: white;
}
#grid1 h3{
    color: palevioletred;
}
#grid1 a{
    color: skyblue;
}


 /*grid2 new  */
#new{
    color: rgb(241, 64, 64);
    
}

#grid6 ul{
    font-size: 0.8rem;
    text-align: center;
    margin:3% auto;
}
#grid6 h1{
    color: steelblue;
}
#grid6 h3{
    color: rgb(14, 94, 212);
}
#grid6 a{
    color:steelblue;
}


#grid5{
    text-align: center;
}

#card{
    font-size: 2rem;
}



#grid4 li a{
    color: white;
}
#grid4 ul{
    text-align: center;
    font-size: 0.8rem;
    text-align: center;
    margin:10% auto;
    
}
#Appstore{
    font-size:  2rem;
}
#grid4 li i{
    font-size:2rem;
}


#grid3 ul {
    text-align: center;
    font-size: 0.8rem;
    text-align: center;
    margin:10% auto;
}
#grid1 ul{
    text-align: center;
    font-size: 1.4rem;
    text-align: center;
    margin:2% auto;
}
#grid2 ul{
    margin-top: 4%;
}


.footer{
    background-color: #f5f5f7;
    margin-top: 5%;
    width: 100%;
    font-size: 10px;
}

.container_2{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

.footer h3{
    margin-top: 10%;
    /* margin-bottom: 10%; */
}

.footer ul{
    list-style: none;
}


.footer li{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.container_1{
    width: 70%;

}
.container_1 p{
    text-align: justify;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer hr{
    width: 70%;
}

#footer_paragraph{
    display: block;
    width: 70%;
    margin: auto;
}

.copyright{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: baseline;

}
.copyright ul{
    list-style: none;
    display: flex;
    width: 40%;
    /* background-color: red; */
    justify-content: space-evenly;
    
}

.copyright a{
    color: inherit;
    text-decoration: none;
}


#grid6 h2{
    text-align: center;
    color: white;
    margin-top: 7%;

}